/* see https://github.com/rstudio/rmarkdown/blob/master/inst/rmd/slidy/Slidy2/styles/slidy.css */

body {
  background: white;
}

/* slide titles */
div.slide h1 {
  font-size: 50px;
  color: darkblue;
  text-align: left
}
  